# Virtual Environment
venv/
env/
ENV/

# Python / PyTorch Cache
__pycache__/
*.py[cod]
*$py.class
*.pt
*.zip
.pytest_cache/

# Tensorboard Logs
tb_logs/

# Byte-compiled / binary / IDE
.vscode/
.idea/
.DS_Store
*.log
